/* ==============================
Global styles
============================== */
html {
    height: 100vh;
}
body {
    background: #f4f5f7;
    color: #2a2a2a;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

a {
    color: #292929;
}
a:hover {
    color: #407fc0;
}
a:disabled {
    color: rgba(41, 41, 41, 0.3);
}

h2 {
    font-size: 3.125rem; /* 50px */
    letter-spacing: -1px;
    line-height: 1;
    margin: 0;
}
h4 {
    font-size: 2.375rem; /* 38px */
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
}

hr {
    margin: 30px 0;
}


#root {
    margin: 0 auto;
    max-width: 1280px; /* 80em */
    width: 90%;
}
#root > div {
    padding: 55px 80px;
}

/* ==============================
Products
============================== */
.product-group {
    flex-wrap: nowrap;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
       -moz-box-orient: horizontal;
            box-orient: horizontal;
    flex-direction: row;

    position: relative;
}

.product-image {
    width: 40%; /* 452px; */
}
.product-image img {
    height: auto;
    width: 100%; /* 452px */
    max-width: 100%;
    max-height: 282px;
}

.product-info {
    -webkit-box-flex: 2;
       -moz-box-flex: 2;
            box-flex: 2;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;

    background: #fff;
    padding: 2.3125rem; /* 37px */

    flex-wrap: nowrap;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
       -moz-box-orient: horizontal;
            box-orient: horizontal;
    flex-direction: row;
}
.product-inventory {
    color: #939393;
    display: block;
    font-size: 0.813rem; /* 13px */
    margin-top: 1.250rem; /* 20px */
}

.product-details,
.product-price {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
}
.product-details {
    position: relative;
    width: 80%;
}
.product-price {
    padding-top: 12px;
    text-align: right;
    width: 15%;
}
button.btn-add-item {
    display: block;
	position: relative;
    top: 226%;
    -webkit-transform: translate(349%, -226%);
        -ms-transform: translate(349%, -226%);
            transform: translate(349%, -226%);
}
button.btn-add-item:disabled {
    -webkit-transform: translate(419%, -226%);
        -ms-transform: translate(419%, -226%);
            transform: translate(419%, -226%);
}


/* ==============================
Button styles
============================== */
/* ====
Global button
=== */
button {
    background: #5e97d1;
    border: 1px transparent;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 22px;
    text-transform: uppercase;
}
button:hover {
    background: #407fc0;
}
button:disabled {
    background: rgba(94, 151, 209, .3);
}

/* ====
Quantity Change buttons
=== */
.button-quantity {
    background: #f5f5f5;
    border: 2px solid #ededed;
    color: #8e939c;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    padding: 8px 40px 10px 40px;
    display: none;
}
.button-decrement {
    border-radius: 20px 0 0 20px;
}
.button-increment {
    border-radius: 0 20px 20px 0;
}
button.button-quantity:hover {
    color: #fff;
}
button.button-quantity:disabled {
    background: rgba(249, 249, 249, 1);
}


/* ====
Cart Status text link
=== */
.header {
    flex-wrap: nowrap;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
       -moz-box-orient: horizontal;
            box-orient: horizontal;
    flex-direction: row;
}
.cart-head,
.cart-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cart-head {
    width: 60%;
}
.cart-status {
    width: 40%;
}
.cart-link {
    cursor: pointer;
    font-size: 0.875rem; /* 14px */
    text-align: right;
    display: block;
}
.cart-link:before {
    content: '';
    background: url(../images/icon-cart.png) no-repeat;
    background-position: 0 0;
    display: inline-flex;
    height: 14px;
    padding-right: 8px;
    width: 17px;
}
.cart-link:hover {
    color: #407fc0;
}
.cart-link:hover:before {
    background-position: 0 -15px;
}
.cart-quantity {
    display: none;
}

/* ====
Cart Modal
=== */
div[class^='styles_overlay__'] {
    background: rgba(0, 0, 0, 0.40);
}
div[class^='styles_modal_'] {
    background: #fff;
    border-radius: 10px;
    max-width: 780px;
    width: 100%;
}

.cart-container > hr {
    color: #e8e8e8;
}
h3.cart-container-head {
    color: #000;
    font-size: 2.375rem; /* 38px */
    font-weight: normal;
    margin-bottom: 24px;
}
div[class^='styles_modal_'] > button:hover {
    background: transparent !important;
}
div[class^='styles_modal_'] > button > svg > path {
    fill: #cbcbcb;
}
div[class^='styles_modal_'] > button > svg > path:hover {
    fill: #000000;
}

.cart-msg p {
    color: #919191;
    font-size: 1.3125rem; /* 21px */
    font-style: normal;
    margin-bottom: 100px;
    text-align: center;
}
.cart-msg-img {
    background: url(../images/cart_image.png) center center no-repeat;
    height: 76px;
    margin: 0 auto;
    width: 95px; 
}

.product-container {
    margin-bottom: 20px;
    position: relative;
}

.cart-container .cart-quantity {
    border-top: 2px solid #ededed;
    display: inline;
    padding: 11px 40px 10px;
    border-bottom: 2px solid #ededed;
}

.checkout-total {
    text-align: right;
}
.checkout-total p {
    margin-right: 2.3125rem; /* 37px */
}
.checkout-total button {
    margin-right: 1.25rem; /* 20px */
}

.cart-container .remove-link {
    color: #CC1D39;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 72%;
    left: 45%;
}
.cart-container .button-container {
    position: relative;
    text-align: right;
}
.cart-container .button-quantity {
    display: inline;
}





/* ==================================================================================
Media Query Breakpoints
================================================================================== */

@media only screen and (min-width: 1279px) and (max-width: 1410px) {
    button.btn-add-item {
      top: 200%;
        -webkit-transform: translate(330%, -200%);
            -ms-transform: translate(330%, -200%);
                transform: translate(330%, -200%);
    }
    button.btn-add-item:disabled {
        -webkit-transform: translate(400%, -200%);
            -ms-transform: translate(400%, -200%);
                transform: translate(400%, -200%);
    }
}


/* ----------- Tablet styles ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px),
only screen and (min-width: 640px) and (max-width: 1280px) {

    #root > div {
        padding: 43px 50px;
    }

    h4 {
        font-size: 1.75rem; /* 28px */
    }
    .product-info {
        padding: 1.25rem; /* 20px */
    }
    .product-image img {
        max-height: 200px;
    }
    .product-inventory {
        font-size: 0.75rem; /* 12px */
        margin-top: 0.6875rem; /* 11px */
    }
    button.btn-add-item {
        display: block;
        position: relative;
        top: 170%;
        -webkit-transform: translate(324%, -170%);
            -ms-transform: translate(324%, -170%);
                transform: translate(324%, -170%);
    }
    button.btn-add-item:disabled {
        -webkit-transform: translate(394%, -170%);
            -ms-transform: translate(394%, -170%);
                transform: translate(394%, -170%);
    }
    
}
/* ----------- /Tablet styles ----------- */


/* ----------- Mobile styles ----------- */
@media only screen and (min-width: 641px) and (max-width: 767px) {
    button.btn-add-item {
      top: -118%;
        -webkit-transform: translate(180%, -118%);
            -ms-transform: translate(180%, -118%);
                transform: translate(180%, -118%);
    }
    button.btn-add-item:disabled {
        -webkit-transform: translate(220%, -118%);
            -ms-transform: translate(220%, -118%);
                transform: translate(220%, -118%);
    }
}


@media only screen and (min-device-width : 640px) and (max-device-width : 768px) {
    button.btn-add-item {
        display: block;
        position: relative;
        top: 140%;
        -webkit-transform: translate(190%, -140%);
            -ms-transform: translate(190%, -140%);
                transform: translate(190%, -140%);
    }
    button.btn-add-item:disabled {
        -webkit-transform: translate(260%, -140%);
            -ms-transform: translate(260%, -140%);
                transform: translate(260%, -140%);
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px),
screen and (min-width: 320px) and  (max-width: 640px) {

    #root > div {
        padding: 40px 0 0 0;
    }

    h2 {
        font-size: 1.75rem; /* 28px */
    }
    h4 {
        font-size: 1.313rem; /* 21px */
    }


    .product-group {
        flex-wrap: wrap;
        -webkit-box-orient: vertical; 
           -moz-box-orient: vertical;
                box-orient: vertical;
        flex-direction: column;
    }
    .product-image {
        width: 100%;
    }
    .product-image img {
        max-height: 200px;
    }
    .product-info {
        padding: 1.25rem 1.25rem 4.375rem; /* 20px 70px */
    }

    .product-inventory {
        font-size: 0.75rem; /* 12px */
        margin-top: 0.6875rem; /* 11px */
    }
    button {
        padding: 8px 17px;
    }
    button.btn-add-item {
        display: block;
        position: relative;
        top: 135%;
        -webkit-transform: translate(10%, -135%);
            -ms-transform: translate(10%, -135%);
                transform: translate(10%, -135%);
    }
    button.btn-add-item:disabled {
        -webkit-transform: translate(15%, -135%);
            -ms-transform: translate(15%, -135%);
                transform: translate(15%, -135%);
    }

    .header {
        flex-wrap: wrap;
        -webkit-box-orient: vertical; 
            -moz-box-orient: vertical;
                box-orient: vertical;
        flex-direction: column;
    }
    .cart-head,
    .cart-status {
        width: 100%;
    }
    .cart-link {
        margin-top: 10px;
        text-align: left;
    }

    .cart-container .button-container {
        text-align: center;
        width: 300px;
    }
    .cart-container .button-quantity {
        padding: 8px 30px 10px 30px;
    }

    div[class^='styles_modal_'] .checkout-total button {
        border-radius: 0;
        width: 100%;
    }

    .cart-container .remove-link {
        top: 76%;
        left: 7%;
    }

}
/* ----------- /Mobile styles ----------- */



